

<% include header.ejs %>

<body class = "backpic.png">
    <link rel="stylesheet" href="css\A01.css">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Alladi_A01</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/Converter">Converter<span class="caret"></span></a>
                  <ul class="dropdown-menu"> -->
                    <li><a href="/Converter">weight converter</a></li>
                 <!-- </ul> -->
                <!-- </li> -->
                <li class="active" ><a href="/Contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>



    

  
<div class="container">

        <header>
                <h1 id ="ret" >SRI ANURAG SAI ALLADI.</h1>
                </header>
            <div class = "row"> 
                <div class= "col-md-8 ">  
                <section>
                <h2  id="section-header" > Introduction</h2>
                <p> 
                I'm here to do my Master's in Applied Computer Science for Fall 2018.</p>
                </section>
                <section id="past-section">
                <h2  class="section-header"> background</h2>
                <p>
                I am from Guntur(India). <br> had done my under graduation in Mechanical Engineering(MECH) in Vellore Institute Of Technology (vit) which is loctaed in Vellore, Tamilnadu, India.
                I love to play soccer and Watch movies.</p>
                </section>
                <section id="future-section">
                <h2  class="section-header">Future plans</h2>
                <p>My intrested area is data analyist and  i look forword to see myself in one of the top software companies as a team lead. 
                 I'm a good at learning,teaching and costume designing.</p>
                 </section>
                </div>
              <div class ="col-md-4 ">
                  <img src = "\images\mypic.JPG" class = "img-circle" id = "picedit" alt="">
              </div>

            <div class= "col-md-12 asd" >     
                <!-- width="500" height="400" -->
                <iframe  src="https://www.youtube.com/embed/y-Fevaxy2HQ"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
  
        </div>
 </div>
</div>

<% include footer.ejs %>