
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body{
    background-image: url('backpic.png');
    color: rgb(235, 239, 241);
}

#git{
     width: 200px;
     height: 200px;
     margin-top: 50px;
     margin-left: 60px;
     margin-right: 100px;

}
#bit{
    width: 230px;
     height: 230px;
     margin-top: 50px;
     margin-right: 100px;
     margin-left: 30px;

}
#out
{
    width: 190px;
     height: 190px;
     margin-top: 50px;
     margin-right: 100px;
     margin-left: 30px;
}
#linked
{
    width: 190px;
     height: 190px;
     margin-top: 50px;
     margin-left: 10px;
}
h3{
    font-family: initial;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}


